*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Inter' ;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}
.top{
    display: none;
}
.parent{
    width: 1440px;
    height: 800px;
    background-color: hsl(233, 47%, 7%);
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left{
    width: 580px;
    height: 430px;
    background-color: hsl(244, 38%, 16%);
    border-radius: 10px 0px 0px 10px;
    padding: 4.7em 9em 4.5em 4.8em;
}
.right{
    background-color: aqua;
    width: 540px;
    height: 430px;
    border-radius: 0 10px 10px 0;
    position: relative;
}
.right img{
    border-radius: 0 10px 10px 0;
    width: 100%;
    height: 100%;
}
.right::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hsl(277, 64%, 45%, 50%);
    z-index: 1000;
    left: 0px;
}
h2{
    color: white;
    font-size: 2.3em;
}
h2 span{
    color: hsl(277, 64%, 61%);
}
p:nth-child(2){
    font-size: 0.95em;
    color: hsla(0, 0%, 100%, 0.75);
    margin-top: 2em;
    line-height: 1.6;
}
footer{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-family: 'Lexend Deca'!important;
    font-weight: 700;
    margin-top: 65px;
}
footer span{
    color: white;
    font-size: 1.6em;
}
footer span p{
    margin-top: 0.4em !important;
    font-size: 0.4em !important;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.6) !important;
    letter-spacing: 0.2em;
}
@media (max-width:700px){
    .parent{
        width: 375px;
        height: 956px;
        flex-direction: column;
    }
    main{
        flex-direction: column;
    }
    .top{
        position: relative;
        width: 85%;
        height: 24%;
        background-color: violet;
        border-radius: 10px 10px 0 0;
        display: block;
    }
    .right{
        display: none;
    }
    .left{
        width: 85%;
        height: 580px;
        padding: 60px 29px 35px 29px;
        text-align: center;
        border-radius: 0 0 10px 10px;
    }
    .left h2 {
        font-size: 1.8em;
    }
    .left p:nth-child(2){
        font-size:1em;
        margin-top: 25px;
        line-height: 1.8;
    }
    footer{
        flex-direction: column;
        margin-top: 35px;
    }
    footer span{
        margin: 10px 0 25px 0;
        font-size: 1.5em;
    }
    .top img{
        width: 100%;
        border-radius: 10px 10px 0 0;
    }
    .top::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 117%;
        background-color: hsl(277, 64%, 45%, 50%);
        z-index: 1000;
        left: 0px;
    }
}